@import url(../css/normalize.css);
@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Awesome";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AwesomeRegular/fa-regular-400.eot");
  src: url("../fonts/AwesomeRegular/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/AwesomeRegular/fa-regular-400.woff") format("woff"), url("../fonts/AwesomeRegular/fa-regular-400.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px; }

.blur-container {
  background: #fafafa; }

.header {
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
  z-index: 3;
  position: relative; }

.header-nav {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .header-nav__items {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .header-nav__link {
    margin-left: 40px;
    position: relative; }
    .header-nav__link a:hover {
      color: #000; }
  .header-nav__link a {
    color: #777777;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none; }
  .header-nav__link--active a {
    color: #000000; }
  .header-nav__link--active::before {
    content: "\f2d1";
    font-family: 'Font Awesome 5 Free';
    color: #000;
    position: absolute;
    left: -30px;
    top: -4px;
    margin: 0 2%; }
    .header-nav__link--active::before a {
      color: #777777;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
    .header-nav__link--active::before a:hover {
      color: #000000; }
  .header-nav__burger {
    position: relative;
    display: none;
    width: 30px;
    height: 20px; }
    .header-nav__burger span {
      height: 2px;
      width: 100%;
      background: #000000;
      position: absolute;
      top: 9px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header-nav__burger::before, .header-nav__burger::after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: #000000;
      position: absolute;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header-nav__burger::before {
      top: 0; }
    .header-nav__burger::after {
      bottom: 0; }
  .header-nav__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px; }
  .header-nav__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 10px; }
  .header-nav__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }

.heading {
  background-color: #f0f0f2;
  height: 350px;
  width: 100%;
  z-index: 3; }
  @media (max-width: 768px) {
    .heading {
      margin-top: 10vh; } }
  .heading .img-container {
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../img/aboutbg.png); }
    @media (max-width: 1000px) {
      .heading .img-container {
        background-position: 150% 0; } }
    @media (max-width: 950px) {
      .heading .img-container {
        background-position: 250% 0; } }
    @media (max-width: 880px) {
      .heading .img-container {
        background-position: 100px 0; } }
    @media (max-width: 700px) {
      .heading .img-container {
        background-image: none; } }
    .heading .img-container .heading-content {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: left;
      -webkit-align-items: left;
          -ms-flex-align: left;
              align-items: left;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%; }
      @media (max-width: 550px) {
        .heading .img-container .heading-content {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      .heading .img-container .heading-content h1 {
        color: #ffffff;
        font-family: Roboto;
        font-size: 48px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        background-color: #000000;
        padding: 0 36px; }
        @media (max-width: 915px) {
          .heading .img-container .heading-content h1 {
            font-size: 40px; } }
        @media (max-width: 768px) {
          .heading .img-container .heading-content h1 {
            font-size: 36px; } }
        @media (max-width: 540px) {
          .heading .img-container .heading-content h1 {
            padding: 0 5px; } }
      .heading .img-container .heading-content h2 {
        color: #000000;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 7.2px;
        margin: 0; }
        @media (max-width: 768px) {
          .heading .img-container .heading-content h2 {
            font-size: 16px;
            padding-left: 15px; } }

.about-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px; }
  @media (max-width: 940px) {
    .about-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 50px; } }
  .about-block__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px; }
    @media (max-width: 940px) {
      .about-block__content {
        margin-left: 30px; } }
    @media (max-width: 768px) {
      .about-block__content {
        margin-left: 0;
        padding: 0 15px; } }
  .about-block__title {
    color: #000000;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 7.2px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 9px; }
    @media (max-width: 940px) {
      .about-block__title {
        margin: 30px 0; } }
  .about-block__title._2 {
    margin-top: 0; }
    @media (max-width: 940px) {
      .about-block__title._2 {
        margin: 30px 0; } }
  .about-block__text p {
    color: #777777;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 26px;
    margin-top: 20px; }
  .about-block__img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    position: relative;
    text-align: center; }
    .about-block__img img {
      width: 100%;
      height: auto; }
      @media (max-width: 940px) {
        .about-block__img img {
          width: 80%;
          height: 400px;
          -o-object-fit: cover;
             object-fit: cover;
          -o-object-position: bottom;
             object-position: bottom; } }
      @media (max-width: 768px) {
        .about-block__img img {
          height: 350px; } }
      @media (max-width: 650px) {
        .about-block__img img {
          height: 300px; } }
      @media (max-width: 550px) {
        .about-block__img img {
          height: 250px; } }
      @media (max-width: 460px) {
        .about-block__img img {
          height: 200px; } }
      @media (max-width: 375px) {
        .about-block__img img {
          height: 150px; } }
  .about-block .about-block__skills h5 {
    color: #2f302f;
    font-family: Roboto;
    font-weight: 700;
    line-height: 10px;
    margin-bottom: 15px; }
  .about-block ._slider {
    width: 100%;
    height: 10px;
    background-color: #ebebeb;
    opacity: 0.8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .about-block ._slider:hover {
      opacity: 1; }
    .about-block ._slider span._line {
      background-color: #a1a1a1;
      height: 4px;
      margin-left: 3px;
      position: relative; }
      .about-block ._slider span._line::before {
        content: "";
        background-color: #fff;
        position: absolute;
        top: -webkit-calc(50% - 5px);
        top: calc(50% - 5px);
        right: 0;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        -webkit-box-shadow: inset 0 0 0 3px black;
                box-shadow: inset 0 0 0 3px black; }
    .about-block ._slider span._line._1 {
      width: -webkit-calc(90% - 3px);
      width: calc(90% - 3px); }
      .about-block ._slider span._line._1 ._value::after {
        content: "90%";
        background-color: #000;
        color: #ffffff;
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 7px;
        position: absolute;
        right: -32.56px;
        top: -36px; }
      .about-block ._slider span._line._1 ._value::before {
        content: "";
        position: absolute;
        top: -18px;
        left: -webkit-calc(100% - 5px);
        left: calc(100% - 5px);
        width: 0;
        height: 0;
        border-top: 10px solid #000;
        border-right: 10px solid transparent; }
    .about-block ._slider span._line._2 {
      width: -webkit-calc(95% - 3px);
      width: calc(95% - 3px); }
      .about-block ._slider span._line._2 ._value::after {
        content: "95%";
        background-color: #000;
        color: #ffffff;
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 7px;
        position: absolute;
        right: -32.56px;
        top: -36px; }
      .about-block ._slider span._line._2 ._value::before {
        content: "";
        position: absolute;
        top: -18px;
        left: -webkit-calc(100% - 5px);
        left: calc(100% - 5px);
        width: 0;
        height: 0;
        border-top: 10px solid #000;
        border-right: 10px solid transparent; }
    .about-block ._slider span._line._3 {
      width: -webkit-calc(50% - 3px);
      width: calc(50% - 3px); }
      .about-block ._slider span._line._3 ._value::after {
        content: "50%";
        background-color: #000;
        color: #ffffff;
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 7px;
        position: absolute;
        right: -32.56px;
        top: -36px; }
      .about-block ._slider span._line._3 ._value::before {
        content: "";
        position: absolute;
        top: -18px;
        left: -webkit-calc(100% - 5px);
        left: calc(100% - 5px);
        width: 0;
        height: 0;
        border-top: 10px solid #000;
        border-right: 10px solid transparent; }
    .about-block ._slider span._line._4 {
      width: -webkit-calc(85% - 3px);
      width: calc(85% - 3px); }
      .about-block ._slider span._line._4 ._value::after {
        content: "85%";
        background-color: #000;
        color: #ffffff;
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 7px;
        position: absolute;
        right: -32.56px;
        top: -36px; }
      .about-block ._slider span._line._4 ._value::before {
        content: "";
        position: absolute;
        top: -18px;
        left: -webkit-calc(100% - 5px);
        left: calc(100% - 5px);
        width: 0;
        height: 0;
        border-top: 10px solid #000;
        border-right: 10px solid transparent; }

.our-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px; }
  .our-team__title {
    text-align: center;
    max-width: 600px;
    margin-bottom: 60px; }
    .our-team__title h1 {
      color: #000000;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 12px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 40px; }
      @media (max-width: 500px) {
        .our-team__title h1 {
          font-size: 26px; } }
      @media (max-width: 400px) {
        .our-team__title h1 {
          font-size: 20px; } }
    .our-team__title p {
      color: #777777;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
      line-height: 30px; }
  .our-team__people {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    @media (max-width: 900px) {
      .our-team__people {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    @media (max-width: 768px) {
      .our-team__people {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .our-team__item {
    text-align: center;
    width: 33.333%;
    margin: 0 15px; }
    @media (max-width: 900px) {
      .our-team__item {
        width: 45%;
        margin: 0 0 30px 0; } }
    @media (max-width: 768px) {
      .our-team__item {
        width: 80%; } }
  .our-team__image {
    background-color: #eeeeee;
    padding-top: 10px;
    height: 440px; }
    @media (max-width: 550px) {
      .our-team__image {
        height: 300px; } }
    @media (max-width: 400px) {
      .our-team__image {
        height: 230px; } }
    .our-team__image img {
      height: 100%;
      width: auto; }
  .our-team__content {
    background-color: #fff;
    padding: 30px;
    text-align: left; }
  .our-team__subtitle {
    color: #041608;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.96px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 10px; }
    @media (max-width: 400px) {
      .our-team__subtitle {
        font-size: 20px; } }
  .our-team__subsubtitle {
    color: #2f302f;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 14px;
    margin-bottom: 25px; }
  .our-team__text {
    color: #777777;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px; }

.footer {
  -webkit-box-shadow: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);
          box-shadow: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);
  text-align: center;
  padding: 60px 0 15px 0;
  margin-top: 70px; }
  .footer .social-media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    border-top: 1px solid rgba(119, 119, 119, 0.5);
    border-bottom: 1px solid rgba(119, 119, 119, 0.5);
    margin-top: 40px;
    padding: 25px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer .social-media__item {
      margin: 0 2%; }
      .footer .social-media__item a {
        color: #777777;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; }
      .footer .social-media__item a:hover {
        color: #000000; }
  .footer .footer-copyright {
    color: #9c9c9c;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase; }
    .footer .footer-copyright span {
      color: #000000; }

@media (max-width: 768px) {
  body.lock {
    overflow: hidden; }
  .blur-container.active {
    -webkit-filter: blur(5px);
            filter: blur(5px); }
  .header-nav {
    height: 10vh;
    position: fixed;
    top: 0;
    background: #ffffff;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15); }
    .header-nav__menu {
      position: fixed;
      left: -100%;
      top: 10vh;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .header-nav__items {
      display: block; }
    .header-nav__link a {
      padding: 5px;
      color: #fff; }
      .header-nav__link a:hover {
        color: #6891d4; }
    .header-nav__link--active a {
      color: #6891d4; }
    .header-nav__link--active::before {
      content: ""; }
    .header-nav__link {
      margin: 0 0 20px 0; }
      .header-nav__link a {
        font-size: 20px;
        letter-spacing: 1px; }
    .header-nav__burger {
      display: block; }
  .header-nav.active .header-nav__menu {
    left: 0; }
  .footer {
    padding-top: 30px;
    margin-top: 45px; }
    .footer .footer-copyright {
      font-size: 9px;
      line-height: 10px; } }
